/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-container{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 17px;
    text-align: center;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(252, 115, 35,0.7);
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #fc7323;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 3px;
    border: 1px solid #ccc;
    border-top: none;
}