Options All -Indexes

ErrorDocument 404 /eagle-NN/Error/Error.html
ErrorDocument 403 /eagle-NN/Error/Error.html


#cuando el sitio este en mantenimiento o se encuentre deñado desbloquear el siguiente
RewriteEngine On 
RewriteCond %{REQUEST_URI} !/eagle-NN/Error/Error.html$
RewriteCond %{REQUEST_ADDR} !^123\.123\.123\.123
#RewriteRule $ /eagle-NN/Error/Error.html [R=302,L] este es el de mantenimiento

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php


#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteRule ^([a-zA-Z0-9/]+)$ inicio.php?CONTENIDO=$1
#</IfModule>
